/* I set the universal rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /I set the universal rules */

/* COMMON */
/* Common rules that I can apply multiple times in different place of my page */
body{
    font-family: 'Open Sans', sans-serif;
}
/* NAV BAR */
/* debug elements */
.nav-bar{
    width: 100%;
    min-height: 50px;
    background-color:yellow;
    display: flex;
    justify-content: space-between;
}
.card-logo{
   width: 20%;
   background-color: orangered;

}
.card-right{
    width: 20%;
    background-color: orangered;
}
/* NAV BAR */

/* HERO */
.hero-section{
    background-color: lightpink;
    min-height: 200px;
   
}
.title{
   text-align: center;
}
.hero-card{
    display: flex;
    justify-content: center;
}
.hero-card-1{
    width: 35%;
    height: 200px;
    background-color: blue;
    border: 1px solid red;
}
.hero-card-2{
    width: 35%;
    height: 200px;
    background-color: blue;
    border: 1px solid red;
}
/* HERO */

/* SECTION 1 */
.top-oriz-cont{
    width: 100%;
    min-height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
}
.orizzontal{
    width:60%;
    background-color: rgb(84, 80, 80);
}
.three-col{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    min-height: 50px;
    width: 100%;
}
.three-col-1{
    width: 20%;
    min-height:500px;
    border: 1px solid red;
    background-color: rgb(225, 240, 9);
}
.bottom-cont{
    background-color: aquamarine;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
}
.orizzontal-card{
    width:30%;
    min-height: 50px;
    background-color: rgb(32, 135, 214);
    border: 1px solid red;
}
/* SECTION 1 */

/* SECTION 2 */
.two-cards{
    background-color: orangered;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.entra{
    width:30%;
    min-height: 100px;
    background-color: rgb(188, 122, 187);
    border: 1px solid red;
}
/* SECTION 2 */

/* SECTION 3 */
h2{
    text-align: center;
}
.section-3{
    background-color: bisque;
    width: 60%;
    min-height: 500px;
    margin: 0 auto;
    
}
.row-card{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aqua;

}
.card-section-3{
    
    width: 60%;
    min-height: 300px;
    border: 1px solid black;
}
/* SECTION 3 */
/* SECTION 4 */
/* SECTION 4 */
/* SECTION 5 */
/* SECTION 5 */
/* SECTION 6 */
/* SECTION 6 */
/* FOOTER */
/* FOOTER */
