/* I set the universal rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /I set the universal rules */

/* COMMON */
/* Common rules that I can apply multiple times in different place of my page */
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* NAV BAR */
/* debug elements */
.nav-bar {
    width: 100%;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.list-1 ul {
    display: flex;
    list-style: none;
}

.list-1 a {
    text-decoration: none;
    margin: 15px;
}

/* Menu on the right-hand of the menu*/
.card-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-content ul {
    display: flex;
    list-style: none;
}

.right-content a {
    text-decoration: none;
    margin: 10px;
}

/* Menu on the right-hand of the menu*/


/* NAV BAR */

/* HERO */
.section {
    background-color: #B4D0E7;
    max-height: 608px;
    padding-top: 40px;
}

.title-h1 {
    text-align: center;
    font-size: 5rem;
    width: 80%;
    margin: 0 auto;
}

.row {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.col-left {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.56;
    padding: 10px;
}

.p-hero {
    padding: 10px;
}

.col.right {
    width: 100%;
}

.anchor-hero {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.anchor-hero:hover {
    opacity: 0.8;
}

.entity {
    font-size: 1.8rem;
}

.hero-card-2 {
    position: relative;
}

/* HERO */

/* SECTION BUSINESS */
.section-1 {
    width: 60%;
    margin: 0 auto;
    padding-top: 70px;
}

.top-oriz-cont {
    width: 100%;
    display: flex;
    align-items: center;
}

.orizzontal {
    width: 80%;
    max-width: 1500px;
    padding: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
}

/* radio button */

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
/* /radio button */


/*  THREE COL PROFESSIONAL ADVANCED ENTERPRISE */
.three-col {
    display: flex;
    justify-content: center;
    min-height: 50px;
    width: 100%;
}

.three-col-1 {
    width: calc(100% / 3);
    min-height: 1000px;
    border: 1px solid lightgray;
    margin: 30px;
    padding: 10px;

}
hr{
    color: lightgray;
    font-size: 0.1;
}

.singolo {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.padding-left{
    padding-left: 20px;
}
.sub-title {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.5rem;
}
.sub-prize {
    margin-bottom: 10px;
}
.mese{
    margin-bottom: 50px;
}
.list-plan ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 5px;
}
.utente {
    margin-top: 30px; 
    margin-bottom: 30px; 
}
.prova-gratis{
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
    background-color: #2196F3;
    margin: 10px;
    
}

.prova-gratis a{
    text-decoration: none;
    color: white;
}
.prova-gratis:hover{
   opacity: 0.5;
}
.prova-gratis-1{
    font-size: 0.9rem;
    margin: 20px;
    padding-bottom: 20px;
}
.h-five{
    padding-bottom: 20px;
}
.invia{
    padding-bottom: 20px;
}
.cartelle{
    padding-bottom: 20px;
}

/* /THREE COL PROFESSIONAL ADVANCED ENTERPRISE  */

/* BUSINESS BOTTOM CONTAINER */
.team{
     width: 100%;
     min-height: 50px;
     display: flex;
     justify-content: center;
     
     
 }
 .dream-team{
    width:60%;
    border: 1px lightgray solid;
 }
 .team ul {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .team ul li{
    list-style-type: none;
 }

.bottom-cont {
    width: 100%;
    min-height: 100px;
}


.ufficio-vendite{
    
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.vendite-prezzi{
   border: 1px solid lightgray;
   width:30%;
   min-height: 100px;
}
.enter{
    text-align: left;
    padding: 20px;
}
.contatta{
    padding: 20px;
}
.soluzioni{
    padding: 20px;
}
.vendite-btn{
   border: 1px solid lightgray;
    width:30%;
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}
.vendite-btn a{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.vendite-btn a:hover{
    opacity: 0.5;
}

/* SECTION BUSINESS FINE*/

/* ENTRA IN CONTATTO CON DROPBOX*/

.two-cards {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.entra {
    width: 30%;
    min-height: 100px;
}
.entra-drop{
    padding: 20px;
    font-size: 18px;
    text-align: left;
}
.trova-drop{
    padding: 20px;
    font-size: 13px;
}
.btn-drop{
    padding: 20px;
}
.btn-drop a{
    font-size: 13px;
    border: 1px solid grey;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.btn-drop a:hover{
    background-color: #2196F3;
}
/* ENTRA IN CONTATTO CON DROPBOX FINE*/

/* ESEGUI PIU OPERAZIONI */
h2 {
    text-align: center;

}

.section-3 {
    width: 60%;
    min-height: 500px;
    margin: 0 auto;

}

.row-card {
    width: 100%;
    display: flex;
    justify-content: center;
    

}

.card-section-3 {

    width: 60%;
    min-height: 300px;
    border: 1px solid black;
}

/* ESEGUI PIU OPERAZIONI */

/*  MORE PEOPLE */
.section-4 {
    background-color: gold;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.card-section-4 {
    width: 60%;
    background-color: green;
    min-height: 150px;
}

/*  MORE PEOPLE */

/* DESIGNIT */
.section-5 {
    display: flex;
}

.card-1-section-5 {
    width: 30%;
    min-height: 250px;
    background-color: peru;
    display: flex;
    flex-wrap: wrap;
}

.card-2-section-5 {
    width: 40%;
    min-height: 200px;
    background-color: rgb(243, 242, 242);
}

.card-3-section-5 {
    width: 30%;
    min-height: 250px;
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
}

.subcard-section-5 {
    width: calc(100% / 2);
    min-height: 125px;
    border: 4px  solid #9fce9a;
    background-color: #71bb67;
}
.designit {
   position: relative;
   width: 50px;
   left: 50%;
   top: 60%;
   transform: translate(-50%, -50%); 
}
.designit{
    filter: invert(1);
}
/* setting central square designikit */
.row-designikit{
    border: 2px green solid;
    padding: 20px;
}
.col-designkit{
    border: 2px solid red;
    width: 200px;
    padding: 30px;
    margin-bottom: 20px;
}
.small-line{
    border: 1px solid lightgrey;
    width: 50px;
    margin-top: 20px;
   

}
/* DESIGNIT */

/* PORTA DROPBOX */
.section-6 {
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.card-1-section-6 {
    width: 30%;
    border: 2px red solid;
    min-height: 150px;
    padding: 20px;
}
.porta-dropbox{
    color: #691a37;
    font-size: 1.7rem;
}

.card-2-section-6 {
    width: 30%;
    border: 2px red solid;
    min-height: 150px;
}

.btn-prova a{
    color: black;
    text-decoration: none;
    background-color: aliceblue;
    font-size: 13px;
}
/* PORTA DROPBOX */

/* DOMANDE FREQUENTI*/
.section-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
}

.domande-frequenti {
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: 1.8rem;
    text-align: left;
    padding: 20px;
}

.card-1-section-7 {
    width: 60%;
    min-height: 100px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding-top: 15px;
    margin: auto;
}
.card-1-section-7 ul{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.card-1-section-7 ul li{
   list-style-type: none;
}

/* /DOMADE FREQUENTI */

/* FOOTER */
.footer {
    width: 100%;
    background-color: black;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.box-footer-1 {
    width: 12%;
    min-height: 100px;
    background-color: white;
    border: red solid 2px;
}

.box-footer-2 {
    width: 12%;
    min-height: 100px;
    background-color: white;
    border: red solid 2px;
}

.box-footer-3 {
    width: 12%;
    min-height: 100px;
    background-color: white;
    border: red solid 2px;
}

.box-footer-4 {
    width: 12%;
    min-height: 100px;
    background-color: white;
    border: red solid 2px;
}

.box-footer-5 {
    width: 12%;
    min-height: 100px;
    background-color: white;
    border: red solid 2px;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    border: #2196F3 solid 4px;
   background-color: black;
    width: 100%;
    min-height: 100px;
}
.row-bottom-footer{
    border: 2px red solid;
    width: 60%;
   
}
.small-line-footer{
    border: 1px solid lightgrey;
    width: 50px;
    margin-top: 20px;
}
.language{
    
    color: white;
}
.language ul li{
    display: inline-block;
    padding-top: 20px;
}
/* FOOTER */
